.e1{height: 600px; width: 600px; background-color: blue; display: inline-block;}
.e2{height: 500px; width: 500px; background-color: gold;  display: inline-block;}
.e3{height: 400px; width: 400px; background-color: green; display: inline-block;}
.e4{height: 300px; width: 300px; background-color: yellowgreen; display: inline-block;}
.e5{height: 200px; width: 200px; background-color: purple; display: inline-block;}
.e6{height: 100px; width: 100px; background-color: orange; display: inline-block;}
.e7{height: 50px; width: 50px; background-color: red; display: inline-block;}
.ch{height: 300px; width:300px; background-color: yellow;}